<p id="notice"><%= notice %></p>

<h1 style="display: inline;">レシピ一覧</h1>
<%= link_to '新しいレシピを登録する', new_recipe_path , class: "btn btn-info btnoffset"  %>
<div class="recipeTable">
  <table class="col-sm">
    <thead>
      <tr>
        <th style="width:140px;">料理名</th>
        <th style="width:100px;">材料</th>
        <th style="width:140px;">作り方</th>
        <th>画像</th>
        <th colspan="3">詳細/編集</th>
      </tr>
    </thead>

    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.title %></td>
          <td><%= recipe.material.truncate(50) %></td>
          <td><%= recipe.howtomake.truncate(50) %></td>

          <td>
            <% if recipe.image? %>
          　　<%= image_tag recipe.image.url %>
          　<% else %>
          　　<%= image_tag 'noimage.gif' %>
          　<% end %>
          </td>

          <td><%= link_to '詳細', recipe ,{:class => "btn btn-secondary"}%></td>
          <td><%= link_to '編集', edit_recipe_path(recipe) ,{:class => "btn btn-warning"}%></td>
          <td><%= link_to '削除', recipe, method: :delete, data: { confirm: 'このレシピを削除してもよろしいですか?' }, class: "btn btn-danger"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
